<%- include("header") -%>

  <h2> Ce site permet de créer des listes de tâches </h2>
  <p> On peut gérer une liste de taĉhes courantes et une liste de tâches professionnelles </p>

<%- include("footer") -%>
